<div class="row">
  <h1>Counter for people greeted</h1>
  <table>
    <tr>
      <th>User</th>
    </tr>

      <tr>
       <td>Hello, {{username}}  has been greeted {{nameCount.sum}} times</td>
       
      </tr>
    
  </table>
  
  <button class="btn back-btn"><a href="/">Back</a></button>

</div>

