<div class="row">
  <h1>Greeted people</h1>
  <table>
    <tr>
      <th>User List</th>
    </tr>
    {{#each userList}}
      <tr>
        <td><a href="/counter/{{this.user_name}}">{{this.user_name}}</a></td>
      </tr>
    {{/each}}
  </table>
  
  <button class="btn back-btn"><a href="/">Back</a></button>

</div>


