<div class="row">
  <h1>Greeted people</h1>
  <table>
    <tr>
      <th>User</th>
    </tr>
    {{#each users}}
      <tr>
        <td><a href="/counter/{{this}}">{{this}}</a></td>
      </tr>
    {{/each}}
    <tr>
      <td>{{greetedTimesMsg}}</td>
    </tr>
  </table>
  
  <button class="btn back-btn"><a href="/">Back</a></button>

</div>


