@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}
.container {
  background: #CD5C5C;
  color: #dad7cd;
  max-width: 500px;
  margin: 0 auto; 
  padding: 20px;
  margin-top: 50px;

}
body {
  background-color: #FDBCB4;
  font-family: "Roboto", sans-serif;
}
.greeting-widget-box {
  text-align: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.flex {
  margin-top: 5px;
}
.hidden {
  display: none;
}
.error-message {
  color: rgb(211, 6, 6);
  margin-top: 10px;
  display: none; 
  font-size: large;
}


button,
.radio-btn {
  cursor: pointer;
}

.text-input {
  padding: 10px 10px;
  margin-right: 5px;
}
button {
  background: none;
  padding: 10px 25px;
  border-radius: 4px;
}
.greet-me-btn,
.get-users-btn {
  border: none;
  background-color: #FDBCB4;
  color: #fff;
}

.greet-me-btn{
  border: none;
  background-color: #FDBCB4;
  color: #fff;
  margin-top: 5px;
}

.get-users-btn {
  margin-left: 20px;
}
.back-btn{
  border: none;
  background-color: #FDBCB4;
  color: #fff;
  margin-top: 14px;

}
a {
  text-decoration: none;
  color: #fff;
}

.counter-text {
  font-size: 40px;
  margin-block: 10px;
  margin-left: 10px;
}
.radio-btns {
  margin-top: 14px;
}
.radio-btn {
  margin-left: 14px;
}
.reset-btn {
  border: 1px solid #dad7cd;
  background-color: #FDBCB4;
  color: #fff;
}
.output-str {
  font-size: 20px;
  margin-bottom: 45px;
  font-weight: 500;
}
.column-heading {
  text-align: left;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding-block-start: 20px;
}
.user-msg {
  color: #dad7cd;
  font-size: 18px;
}
.column-heading td a {
  font-size: 200px;
}
@media (min-width: 788px) {
  .greeting {
    padding-block: 20px;
    font-size: 40px;
    margin-bottom: 30px;
  }
  .text-input {
    margin-right: 10px;
  }
  .counter-text {
    font-size: 50px;
  }
  label,
  .greet-me-btn,
  .reset-btn,
  .get-users-btn {
    font-size: 16px;
    font-weight: 400;
  }
}